<section class="p-4 bg-secondary">
	
</section>
<section class="p-4 bg-secondary">
	
</section>
<section class="p-4 bg-secondary mt-4" style="--bs-bg-opacity: .5;">
	<h2 class="text-primary mb-4">Centro de Mensajes</h2>
	<input id="user-email" class="form-control col-6" type="mail" id="usermail" placeholder="Ingresa tu email">
    <hr>
    <input type="text" id="user-fName" class="form-control col-6" placeholder="Nombre" autofocus/>
    <hr>
    <input type="text" id="user-lName" class="form-control col-6" placeholder="Apellido" autofocus/>
    <hr>
    <input type="number" id="user-age" class="form-control col-6" placeholder="Edad" autofocus/>
	<hr>
    <input type="text" id="user-alias" class="form-control col-6" placeholder="Alias" autofocus/>
    <hr>
    <input type="text" id="user-avatar" class="form-control col-6" placeholder="Avatar" autofocus/>
	<div id="table-chat" class="my-4"></div>
	<form id="chat-form" class="form-inline">
		<input id="chat-message" class="form-control mb-3" type="text" name="chatmessage" placeholder="Ingresá un mensaje...">
		<button class="btn btn-primary" type="submit">Enviar</button>
	</form>
</section>